.input-lg {
    text-align: center;
}

div .padCol {
    padding-right: 30px;
}

 .buttonDiv  {
 	text-align: center;
	margin: auto;
	width: 20%;
    padding: 10px;
}

.container{
	text-align: center;
	margin: auto;
}

