
<div class="container">

  <h2>Sudoku Solver</h2>
  <div class="container">
    <form>
      <div class="form-group">
  <!--============================== column 1 ==============================-->
        <div id= "col1" class="col-sm-1">
          <div class="row">
            <input id= "col1row1" class="form-control input-lg" type="text"/>
            <input id= "col1row2" class="form-control input-lg" type="text"/>
            <input id= "col1row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col1row4" class="form-control input-lg" type="text"/>
            <input id= "col1row5" class="form-control input-lg" type="text"/>
            <input id= "col1row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>

          <div class="row">
            <input id= "col1row7" class="form-control input-lg" type="text"/>
            <input id= "col1row8" class="form-control input-lg" type="text"/>
            <input id= "col1row9" class="form-control input-lg" type="text"/>
          </div>
        </div>
       

  <!--============================== column 2 ==============================-->
       <div id= "col2" class="col-sm-1">
          <div class="row">
            <input id= "col2row1" class="form-control input-lg" type="text"/>
            <input id= "col2row2" class="form-control input-lg" type="text"/>
            <input id= "col2row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col2row4" class="form-control input-lg" type="text"/>
            <input id= "col2row5" class="form-control input-lg" type="text"/>
            <input id= "col2row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col2row7" class="form-control input-lg" type="text"/>
            <input id= "col2row8" class="form-control input-lg" type="text"/>
            <input id= "col2row9" class="form-control input-lg" type="text"/>
          </div>
        </div>


  <!--============================== column 3 ==============================-->
        <div id= "col3" class="col-sm-1">

          <div class="row">
            <input id= "col3row1" class="form-control input-lg" type="text"/>
            <input id= "col3row2" class="form-control input-lg" type="text"/>
            <input id= "col3row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col3row4" class="form-control input-lg" type="text"/>
            <input id= "col3row5" class="form-control input-lg" type="text"/>
            <input id= "col3row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col3row7" class="form-control input-lg " type="text"/>
            <input id= "col3row8" class="form-control input-lg" type="text"/>
            <input id= "col3row9" class="form-control input-lg" type="text"/>
          </div>

        </div>

        <div class="col-xs-1"/>


  <!--============================== column 4 ==============================-->
        <div id= "col4" class="col-sm-1">
          <div class="row">
            <input id= "col4row1" class="form-control input-lg" type="text"/>
            <input id= "col4row2" class="form-control input-lg" type="text"/>
            <input id= "col4row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col4row4" class="form-control input-lg" type="text"/>
            <input id= "col4row5" class="form-control input-lg" type="text"/>
            <input id= "col4row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col4row7" class="form-control input-lg" type="text"/>
            <input id= "col4row8" class="form-control input-lg" type="text"/>
            <input id= "col4row9" class="form-control input-lg" type="text"/>
          </div>
        </div>
      </div>


  <!--============================== column 5 ==============================-->
      <div id= "col5" class="col-sm-1">
          <div class="row">
            <input id= "col5row1" class="form-control input-lg" type="text"/>
            <input id= "col5row2" class="form-control input-lg" type="text"/>
            <input id= "col5row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col5row4" class="form-control input-lg" type="text"/>
            <input id= "col5row5" class="form-control input-lg" type="text"/>
            <input id= "col5row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col5row7" class="form-control input-lg" type="text"/>
            <input id= "col5row8" class="form-control input-lg" type="text"/>
            <input id= "col5row9" class="form-control input-lg" type="text"/>
          </div>
        </div>


  <!--============================== column 6 ==============================-->
        <div id= "col6" class="col-sm-1">
          <div class="row">
            <input id= "col6row1" class="form-control input-lg" type="text"/>
            <input id= "col6row2" class="form-control input-lg" type="text"/>
            <input id= "col6row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col6row4" class="form-control input-lg" type="text"/>
            <input id= "col6row5" class="form-control input-lg" type="text"/>
            <input id= "col6row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col6row7" class="form-control input-lg" type="text"/>
            <input id= "col6row8" class="form-control input-lg" type="text"/>
            <input id= "col6row9" class="form-control input-lg" type="text"/>
          </div>
        </div>

        <div class="col-xs-1"/>

  <!--============================== column 7 ==============================-->
        <div id= "col7" class="col-sm-1">
          <div class="row">
            <input id= "col7row1" class="form-control input-lg" type="text"/>
            <input id= "col7row2" class="form-control input-lg" type="text"/>
            <input id= "col7row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col7row4" class="form-control input-lg" type="text"/>
            <input id= "col7row5" class="form-control input-lg" type="text"/>
            <input id= "col7row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col7row7" class="form-control input-lg" type="text"/>
            <input id= "col7row8" class="form-control input-lg" type="text"/>
            <input id= "col7row9" class="form-control input-lg" type="text"/>
          </div>
        </div>

  <!--============================== column 8 ==============================-->
        <div id= "col8" class="col-sm-1">
          <div class="row">
            <input id= "col8row1" class="form-control input-lg" type="text"/>
            <input id= "col8row2" class="form-control input-lg" type="text"/>
            <input id= "col8row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col8row4" class="form-control input-lg" type="text"/>
            <input id= "col8row5" class="form-control input-lg" type="text"/>
            <input id= "col8row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col8row7" class="form-control input-lg" type="text"/>
            <input id= "col8row8" class="form-control input-lg" type="text"/>
            <input id= "col8row9" class="form-control input-lg" type="text"/>
          </div>
        </div>

  <!--============================== column 9 ==============================-->
        <div id= "col9" class="col-sm-1">
          <div class="row">
            <input id= "col9row1" class="form-control input-lg" type="text"/>
            <input id= "col9row2" class="form-control input-lg" type="text"/>
            <input id= "col9row3" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col9row4" class="form-control input-lg" type="text"/>
            <input id= "col9row5" class="form-control input-lg" type="text"/>
            <input id= "col9row6" class="form-control input-lg" type="text"/>
          </div>

          <br/>
          
          <div class="row">
            <input id= "col9row7" class="form-control input-lg" type="text"/>
            <input id= "col9row8" class="form-control input-lg" type="text"/>
            <input id= "col9row9" class="form-control input-lg" type="text"/>
          </div>
        </div>
    </form>
  </div>
</div>


<div class="buttonDiv">
  <br>
  <button id="submitBtn" ng-click="changeView('/solved')" type="button" class="btn btn-primary btn-lg">Submit Puzzle</button>
</div>

